:root
{
	
}
/*Couleur de la barre de NAV*/
/*Fond de la barre*/
.nav
{
	background-color: black;
}

.nav-link
{
	color: white; /*Couleur Text*/
}
.navbar-brand
{
	color: crimson;
}

/*Image adaptative en fonction de la résolution*/
.img-responsive
{
	width: 100%;
	height: 500px;
	display: block;
	background-size: cover;
}

